service:
  name: seafood-crossing
  app: seafood-crossing
  org: io.mipha

custom:
  webpack:
    webpackConfig: ./webpack/webpack.config.js
    includeModules: true

plugins:
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs12.x
  apiGateway:
    minimumCompressionSize: 1024
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1

functions:
  hello:
    handler: src/index.hello
    events:
      - http:
          method: get
          path: hello
